@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --color-pink: #f97794;
  --heading-color: #263238;
  --subheading-color: #273339;
  --font-color: #6d7e85;
  --font-color-white: #f2f2f3;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 0.5rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*--- Fix for Fixed Navbar jumping on scroll --*/
.fixed-top {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
}
/* .offset::before{
  display: block;
  content: "";
  height: 6rem;
  margin-top: -6rem;
 } */

/* Narrow to get a decent margin around   START */
#service .narrow-p {
  max-width: 70%;
  margin: 0.5rem auto;
}
#feature .narrow-p {
  max-width: 82%;
  margin: 0.5rem auto;
}
#work .narrow-p {
  max-width: 70%;
  margin: 0.5rem auto;
}
#tech-stack .narrow-p {
  max-width: 90%;
  margin: 0.5rem auto;
}
/*   Narrow End*/

/*--- Navigation ---*/
.navbar {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.5) !important;
}
/* .navbar {
  position: relative;
}*/
.navbar-toggler{
  position: absolute;
  top: 1em;
  right: 2vw;
} 
.navbar-brand img {
  height: 3.2rem;
}
.navbar-nav li {
  padding-right: 0.7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}
.nav-link{
  position: relative;
}
.nav-link::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  
}
.navbar-dark .navbar-toggler{
  border: none;
}
.navbar button:focus{
  outline: none;
}
@media (max-width:689px){
  .navbar-dark .navbar-nav .nav-link.active ,
.navbar-dark .navbar-nav .nav-link:hover  {
  background-color: var(--color-pink);
}
}
@media (min-width:690px){
  .navbar-dark .navbar-nav .nav-link.active::before,
  .navbar-dark .navbar-nav .nav-link:hover::before  {
    background: var(--color-pink);
    transition: .5s ease-in-out;
  }

}


/*--- Landing Page ---*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  background-image: url(./assets/landingpage.jpg);
  position: fixed;
  display: table;
  filter: brightness(0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.caption {
  width: 60%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
}
.caption h1 {
  font-size: 4.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1em;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--font-color-white);
  text-shadow: 0.1rem 0.1rem 0.5rem black;
}
.btn-group-lg > .btn,
.btn-lg {
  border: none;
  text-transform: uppercase;
  margin-top: 2em;
  padding: 0.6em 2em;
  font-size: 1.1rem;
  background-color: var(--color-pink);
  width: 12rem;
}
@media (max-width: 768px) {
  .navbar-brand img {
    max-height: 8vw;
  }
  .navbar button img {
    height: 1rem;
  }
  .navbar .navbar-collapse.show {
    position: absolute;
    top: 0;
    left: 0;
    width: 87vw;
    height: 100vh;
    background-color: white;
    opacity: 0.98;
    transition: 500ms ease-in;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: black;
    font-weight: bolder;
  }
  .navbar-dark .navbar-nav {
    padding-left: 5rem;
    padding-top: 2rem;
  }
  .caption h1 {
    font-size: 2.8rem;
  }
}

/*--- Course Page ---*/

#service {
  /* background-color: #FAFAF7; */
  background-image: url(./assets/BG/bg-1.svg) !important;
  background-position: center;
  background-repeat: no-repeat;
}
.narrow {
  max-width: 90%;
  margin: 0.5rem auto;
}
.narrow h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--heading-color);
}
p {
  font-size: 0.8em;
  margin-bottom: 0;
}
#service .card {
  position: relative;
}
#service .icon{
  position: absolute;
  top: 1em;
  right: .5em;
}
#service .btn-start{
  box-shadow: none;
  color: var(--font-color-white);
}
#service .btn-start:hover{
  background-color: rgb(180, 228, 108);
}
#service .icon .fa-chevron-up{
color: var(--color-pink);
}
.card p {
  margin: -1em auto auto;
  width: 100%;
}
.card:hover {
  border: 2px solid var(--color-pink);
}
.card-image {
  width: 60px;
  height: 45px;
}
.card-image1 {
  background-color: #fae3e3;
}
.card-image2 {
  background-color: #fff5f7;
}
.card-image3 {
  background-color: #e3eafa;
}
.card-image4 {
  background-color: #f3ead6;
}
.card-image5 {
  background-color: #e7e6ff;
}
.card-image6 {
  background-color: #dedede;
}
.heading-underline {
  width: 8rem;
  height: 0.15rem;
  background-color: var(--color-pink);
  margin: 0.5em auto 1em;
}
.card h4,
h4 {
  font-size: 1em;
  color: var(--subheading-color);
  font-weight: 600;
}
/* Service section media responses */
@media (min-width:515px){
  #service .card-body{
    min-height: 13.8rem;
  }
}

/* Feature section */
#feature .card {
  border: none;
}

/* portfolio section */
.blue-background {
  background-image: url(./assets/BG/bg-2.svg);
  background-position: top;
  background-repeat: no-repeat;
}
.owl-dot.active  span{
  background-color: var(--color-pink) !important;
}

/* tech-stack section */
.tech-stack-logo img {
  width: 50px;
}
#tech-stack h4 {
  font-weight: 900;
}

/* popularity sectioon */
#popularity {
  background-color: var(--color-pink);
  padding: 4rem 0;
  color: rgba(255, 255, 255, 0.7);
}
#popularity .box {
  max-width: 100%;
  height: 13em;
  border: 3px dotted rgba(255, 255, 255, 0.4);
  border-radius: 1em;
  padding: 2em 0;
}
#popularity .box:hover {
  color: white;
  transform: scale(1.1);
}
#popularity .box h4 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 1.3rem;
  padding-top: 1rem;
}
@media (min-width: 478px) {
  #popularity .box {
    border: 1px solid rgba(255, 255, 255, 0.7);
  }
}

/* Comments */

.comment1 {
  min-height: 17rem;
  margin: 4rem 0rem;
  border: 0.4px solid whitesmoke;
}
.comment1 img {
  width: 7rem;
  border-radius: 50%;
}
.comment1 h6 {
  font-size: 1.3rem;
  color: var(--heading-color);
}
.comment1 p {
  font-size: 1rem;
}
.comment1 cite {
  font-size: 0.9rem;
}

/* our team */
#team {
  background-color: #fafaf6;
}
.owl-carousel h5{
  font-size: 1rem;
  font-weight: 600;
  color: var(--subheading-color);
}
#team p{
  padding: .5em 0;
}
#team .social-icon{
  margin-top: 0;
}


/* Blogs section */
#blog .card:hover h5{
color: var(--color-pink);
}



/* Contact section */
#contact {
  background-color: #f9fafe;
}
.contact-card,
.contact-card a {
  color: var(--color-pink) !important;
}
.contact-card p {
  color: var(--subheading-color);
  font-size: 1rem;
}
.contact-card a {
  font-size: 0.75rem;
}
#contact ::placeholder {
  font-size: 0.8rem;
}
#contact button {
  background-color: var(--color-pink);
  border: none;
  font-size: 0.9rem;
}
/* Footer section */
footer{
  background-color: white;
}
footer .narrow {
  width: 100%;
  margin: 1em 0;
  text-align: left;
}
footer .narrow h3 {
  font-size: 1.7em;
  text-transform: initial;
}
footer img {
  width: 4em;
  height: 5em;
}
.social-icon {
  margin-top: 0.5em;
  color: white;
  padding: 0.24em;
  border-radius: 50%;
  font-size: 1.7em;
  background-color: var(--color-pink);
}
.social-icon:hover{
  background-color: white;
  color: var(--color-pink);
}
.socket-hlink a{
  text-decoration: none;
  color: #6d7e85;
}
.move-up {
  top: -2em;
  right: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0.5em 0.3em 0.3em;
  border-radius: 50%;
  background: var(--color-pink);
}
.move-up a {
  text-decoration: none;
  color: white;
}
@media (min-width: 700px) {
  .move-up {
    top: 0.4em;
  }
}


/* box-shadow */
#feature .card:hover img , #service .card:hover img {
  transform: scale(1.3);
  -webkit-box-shadow: -4px 10px 19px 2px rgba(0,0,0,0.58);
  -moz-box-shadow: -4px 10px 19px 2px rgba(0,0,0,0.58);
  box-shadow: -4px 10px 19px 2px rgba(0,0,0,0.58);
  transition: .4s ease-in-out;
}

.card:hover  {
  -webkit-box-shadow: -4px 10px 19px 2px rgba(0,0,0,0.58);
  -moz-box-shadow: -4px 10px 19px 2px rgba(0,0,0,0.58);
  box-shadow: -4px 10px 19px 2px rgba(0,0,0,0.58);
  transition: .4s ease-in-out;
}